
@import "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700";
@import "../libs/normalize.css";
@import "layout.css";
@import "menu.css";
@import "footer.css";
img, embed, object, video {
    height: auto !important;
    max-width: 100% !important;
}
* {
}
.clear {
    clear: both !important;
}
input:focus, select:focus, textarea:focus, button:focus {
    outline: medium none;
}
img.circle {
    border: 3px solid #fff;
    border-radius: 50%;
}
body {
    background: #f7f2ee;
    color: #6e6e6e;
    font-family: "Open Sans",sans-serif !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    line-height: 24px;
    margin: 0;
    padding: 0;
	height:100%;
}
.btn {
    background: #28bd8e linear-gradient(to bottom, #28bd8e, #2e9f7b) repeat scroll 0 0;
    border: 1px solid #2e896c;
    border-radius: 3px;
    color: #ffffff;
    padding: 12px 60px;
    text-align: center;
    text-decoration: none;
}
.fb-like-us {
    background: #5b74a8 none repeat scroll 0 0;
    border-color: #4867a8;
}
@media only screen and (min-width: 320px) and (max-width: 568px) {
.btn {
    padding: 10px 50px;
}
}
.btn:hover {
    text-decoration: none;
}
ul.bullet-list {
    list-style: outside none none;
    padding: 0;
}
ul.bullet-list li {
    background: rgba(0, 0, 0, 0) url("../images/masthead-doctors-bullet.png") no-repeat scroll left center;
    padding-left: 25px;
}
ul.bullet-list.grey li {
    background: rgba(0, 0, 0, 0) url("../images/bullet.png") no-repeat scroll left center;
}
input.error[type="text"], input.error[type="radio"], textarea.error, select.error {
    border: 1px solid red;
}
label.error {
    color: red;
    display: none;
}
.hide {
    display: none;
}
#adventure{
 height: 500px;
}
.adventure{
  background: url(../images/hill_road1.jpg);
}
.yellowstone_adventure{
 background: url(../images/yellowstone.jpg);
}
.yosemite_adventure{
 background: url(../images/yosemite.jpg);
}
.death_valley{
 background: url(../images/death_valley.jpg);

}
#involved{
 background: url(../images/tree_root1.jpg);
 height: 500px;
}
#history{
 background: url(../images/trees1.jpg);
 height: 500px;
}
.slider-1 .s-heading {
    float: left;
    font-size: 35px;
    line-height: 35px;
    margin: 100px 0 25px 100px;
	margin-left:100px;
    width: 44%;
}
.slider-1 .s-heading {
    color: black;
    font-weight: 300;
	font-family:"Short Stack",cursive;
}
.slider-1 .s-desc {
    margin-bottom: 25px;
    width: 44%;
}
.slider-1 .s-desc {
    color: black;
    font-size: 14px;
    font-weight: 100;
    line-height: 22px;
	margin-left:100px;
}
.slider-1 .s-btn {
    display: block;
    float: left;
    margin-bottom: 50px;
}
.slider-1 .s-btn {
    display: block;
    float: left;
    margin-bottom: 50px;
	margin-left:100px;
}
.thumb_title{
position:absolute;
width:50%;
margin-top:-10px;
}
